@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

/* Special Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/*Stylings for when the screen is small*/
@media (max-width: 600px) {
        body, #message { margin-top: 0; background: white; box-shadow: none; }
        body { border-top: 16px solid #ffa100; }
      }


/* General App stylings */
.Fullscreen {
  margin: 0;
  height: 100%;
  width: 100%;
}
tr {
  /*height: 50px;*/
}

/*For Authentication*/
#message { 
  background: white;
   max-width: 360px; 
   margin: 100px auto 16px; 
   padding: 32px 24px; 
   border-radius: 3px; 
 }
#message h2 { 
  color: #ffa100; 
  font-weight: bold; 
  font-size: 16px; 
  margin: 0 0 8px; 
}
#message h1 { 
  font-size: 22px;
  font-weight: 300; 
  color: rgba(0,0,0,0.6); 
  margin: 0 0 16px;
}
#load { 
  color: rgba(0,0,0,0.4); 
  text-align: center; 
  font-size: 13px; 
}
.Text-input {
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  resize: none;
  box-sizing: border-box;
}
.Submit-button {
  box-sizing: border-box;
  text-decoration: none;
  text-align: center; 
  background: #db3d44; 
  text-transform: uppercase; 
  color: white; 
  padding: 16px; 
  width: 100%;
  outline: none;
  border: none;
  margin-top: 5px;
  transition: .1s ease;
}
.Submit-button:hover {
  opacity: 0.75;
  cursor: pointer;
  text-decoration: none;
}
.Submit-link {
  text-decoration: none;
  color: white; 
}
.Submit-link:hover {
  text-decoration: none;
}

/* SideNav and homepage*/
.App-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.SideNav-button {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.Content-container {
  height: 100%;
  width: 100%;
  background-color: #ECEFF1;
}
.Page-content-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  overflow-y: auto; 
  flex-wrap: wrap;
  padding-bottom: 15px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0);
}

/*Info Bar*/
.Info-container {
  box-sizing: border-box;
  height: 100%;
  min-width: 250px;
  max-width: 250px;
  background-color: rgba(255,255,255,0.9);
  padding: 20px;
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,.2);
  -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,.2);
  box-shadow: 5px 0px 5px 0px rgba(0,0,0,.2);
  animation: 0.4s ease-out 0s 1 slideInFromLeft;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Info-title {
  font-size: 24px;
  font-weight: 300; 
  color: rgba(0,0,0,0.6);
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0px;
}
.Info-description {
  line-height: 140%; 
  font-size: 14px;
  text-align: left;
  margin: 0px;
  /*margin-bottom: 10px;*/
}

/*Card styling*/
.Card-container {
  background-color: rgba(0,0,0,0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}
.Card-width-quarter {
  width: 324px;
}
.Card-width-half {
  width: 664px;
}
.Card-width-three-quarters {
  width: 992px;
}
.Card-header {
  background-color: rgba(0,0,0,0);
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  font-size: 18px;
  color: rgba(0,0,0,0.5);
  text-align: left;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}
.Card-white-bg {
  box-sizing: border-box;
  color: rgba(0,0,0,0.87);
  background-color: rgb(255,255,255);
  border-radius: 2px;
  width: 100%;
  height: 500px;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  overflow: auto;
}

/*For Calendar page*/
 .Content-bubble-calendar { 
  height: 100%;
  width: 100%;
 }
 .Floating-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  z-index: 20;
  bottom: 25px;
  right: 25px;
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,.5);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,.5);
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,.5);
 }

 /*For Settings*/
 .Form-table {
  width: 100%;
 }
 .Form-table table{
  width: 100%;
  text-align: left;
 }
 .Modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 10;
 }
 .Modal-container {
  position: absolute;
  background: #fff;
  top: 5%;
  left: 20%;
  right: 20%;
  border-radius: 5px;
  max-height: 90%;
  overflow: auto;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
  }
 .Modal-container-scrollable {
  box-sizing: border-box;
  overflow: auto;
  padding: 20px;
  width: 100%;
  height: 100%;
 }
 .Modal-close-button {
  position: absolute;
  top: 15px;
  right: 30px;
  cursor: pointer;
  opacity: 1;
  transition: .1s ease;
  z-index: 15;
 }
 .Modal-close-button:hover {
  opacity: 0.25;
 }
.Image-preview {
  width: 50%;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 10px;
 }
 .Image-upload {
  width : 100%;
  height : 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border : 1px dashed black;
  transition: .1s ease;
 }
 .Image-upload:hover {
  opacity: 0.25;
  cursor: pointer;
  }
 /* For Events */
 .Event-bubble {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
 }
 .Event-img {
  /*height: 150px;*/
  width: 100%;
  border-radius: 5px;
  /*object-fit: cover;*/
  margin-bottom: 20px;
 }

.Roster-container {
  width: 100%;
  background-color: rgba(0,0,0,0);
 }
.User-bubble {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  padding: 5px;
  width: 49%;
  padding-bottom: 10px;
 }
.User-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
 }
.User-image {
  height: 70px !important;
  width: 70px !important;
  border-radius: 35px;
  object-fit: cover;
  margin-right: 20px;
  overflow: hidden;
 }
.User-image-large {
  height: 140px !important;
  width: 140px !important;
  border-radius: 70px;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
 }
.User-td {
  background-color: rgba(0,0,0,0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.User-description {
  line-height: 140%; 
  font-size: 14px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 5px;
  }
.User-title {
    font-size: 24px;
    font-weight: 300; 
    color: rgba(0,0,0,0.6);
    text-align: left;
    margin-bottom: 5px;
    margin-top: 0px;
  }

/*Dashboard Stylings*/
.Dashboard-title {
  font-size: 56px;
  font-weight: 300; 
  color: white;
  text-align: left;
  margin-bottom: 50px;
  margin-top: 5px;
}
.Dashboard-subtitle {
  line-height: 140%; 
  font-size: 18px;
  color: rgba(0,0,0,0.5);
  text-align: left;
  margin: 0px;
  font-weight: bold; 
}
.Dashboard-description {
  line-height: 140%; 
  font-size: 18px;
  color: rgba(255,255,255,0.75);
  text-align: left;
  margin: 0px;
  margin-bottom: 5px;
}

/*Map Component*/
.Map-image {
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  border-radius: 5px;
}
.Map-container {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
 }
.Map-content {
  width: 50%;
 }

 /* Table Stylings */
.filterable-table-container .header-row {
  margin-top: 6px;
}
.filterable-table-container .header-row .exact-filters {
  margin-top: 20px;
}
.filterable-table-container .header-row .record-count {
  padding-top: 7px;
}
.filterable-table-container table.filterable-table thead tr th {
  white-space: nowrap;
  user-select: none;
}
.filterable-table-container table.filterable-table thead tr th span.fa {
  padding-left: 8px;
  color: #aaa;
}
.filterable-table-container table.filterable-table tfoot tr td {
  font-weight: 700;
}
.filterable-table-container .filter-container {
  position: relative;
}
.filterable-table-container .filter-container .filter-input,
.filterable-table-container .filter-container .page-size {
  width: 185px;
  display: inline;
}
.filterable-table-container .clear-filter {
  position: absolute;
  right: 10px;
  top: -2px;
}
.filterable-table-container span.sortable,
.filterable-table-container span.filterable {
  cursor: pointer;
}
.filterable-table-container span.filterable {
  border-bottom: 1px solid #91c1ff;
}
.filterable-table-container ul.pagination li a {
  user-select: none;
}
.filterable-table-container ul.pagination li:not(.disabled) a {
  cursor: pointer;
}
.filterable-table-container span.empty {
  font-style: italic;
  color: #999;
}
.filterable-table-container .filter-item {
  border: 1px solid #ccc;
  border-radius: 1px;
  display: inline-block;
  margin-right: 15px;
}
.filterable-table-container .filter-item .filter-item-title {
  background-color: #2f6e9b;
  border-radius: 1px;
  color: #fff;
}
.filterable-table-container .filter-item .filter-item-title .filter-item-remove {
  color: #fff;
  font-weight: 700;
  user-select: none;
  padding-right: 10px;
  cursor: pointer;
}
.filterable-table-container .filter-item .filter-item-title,
.filterable-table-container .filter-item .filter-item-value {
  padding: 5px 10px;
  display: inline-block;
}

/* Data Preview css */
.Data-preview {
  font-size: 14px;
  text-align: left;
  margin-right: 10px;
  font-weight: normal;
}
.Data-header {
  margin-right: 10px;
}

/* "Superclass" */
.Red-bg {
  background-color: #DE4E55;
}
.reverse-title {
  color: white;
}
.reverse-description {
  color: rgba(255,255,255,0.75);;
}

::-webkit-scrollbar {
    border-radius: 5px;
    width: 8px;
    height: 8px;
}
 
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
}